.converterItem {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.input {
  font-size: 16px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}