.converter {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.revertRates__container {
  width: 46px;
  height: 46px;
  background-color: #f2f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 40px 0;
}

.revertRates {
  color: #3f8ae0;
  width: 32px;
  height: 32px;
}